 p.titulo{
            text-align: center;
            color:antiquewhite;
            font-size: 50px;
            font-family: cursive;
            font-weight: normal;
            
        }    

/*h1 {  color: #4b4b4b;   /* Color de texto }*/
p {  color: blue;   /* Color de texto */}
h2 {  color: red;   /* Color de texto */}
